<div class="screen">
    <div class="title">
        <h1>Satellite crop monitoring system</h1>
    </div>
    <div class="wrapper">
        <div class="wrapped-div">
            <div class="tab-header">
                <h2 routerLink="/user/login" routerLinkActive="active">Sign In</h2>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>